# Eclipse
.classpath
.project
.settings/
.factorypath

# Intellij
.idea/*
*.iml
*.ipr
*.iws
# IntelliJ un-ignore
!.idea/codeStyles/
!.idea/copyright/
!.idea/inspectionProfiles/

# Mac
.DS_Store

# Maven
target/

# JEnv
.java-version

# Shade
**/dependency-reduced-pom.xml

*.pyc
*.swp

# VS Code
.vscode/*
bin/

# Other
.attach_pid*

# Raw benchmark collection data (test/standalone-e2e-benchmarks/scripts/collect.sh)
/pipeline_benchmark2/raw/
